<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de regresar -->
      <ion-back-button defaultHref="/" text="Home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="tarea; else noData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ tarea.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Descripción:</strong> {{ tarea.descripcion }}</p>
        <p><strong>Estado:</strong> {{ tarea.tipo === 'completada' ? 'Completada' : 'Pendiente' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noData>
    <h2>No hay datos disponibles</h2>
  </ng-template>
</ion-content>
