.no-tareas {
    text-align: center;
    margin-top: 50%;
    color: #888;
  }
  
  .no-tareas h1 {
    font-size: 24px;
    font-weight: bold;
  }

  ion-back-button {
    color: #3880ff; /* Cambia el color del texto y el icono */
    font-weight: bold; /* Cambia el peso del texto */
  }
  